<h1>User#contact_email</h1>


Hi <%= @name %>, thanks for contacting us.
Name: <%= @name %>
Phone: <%= @phone %>
Question: <%= @question.html_safe %>
Prefered Context: <%= @prefered %>
Products: <%= @product %>

