<h1>User#contact_email</h1>

<p>
  Hi <%= @name %>, thanks for contacting us.
</p>
<p>
  Name: <%= @name %> <br/>
  Phone: <%= @phone %> <br/>
  Question: <%= @question.html_safe %> <br/>
  Prefered Context: <%= @prefered %> <br/>
  Products: <%= @product %> <br/>
</p>